.conteudo {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.background {
    margin: 2%;
    left: 0;
    max-width: 40%;
    position: relative;
}
.background::before {
    height: 100vh;
    padding: 1rem;
    position: relative;
    background-color: #1d2128;
}
.background::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1d2128;
    z-index: -1;
}

.info {
    width: 65vw;
    margin: 20px 10px;
}
.info hr {
    width: 65vw;
}
button,
input {
    color: #ffffff;
    border: 1px solid #999999;
    border-radius: 22px;
    min-width: 200px;

    margin: 10px auto;

    background: transparent;
    padding: 10px;
    font-size: 18px;
    text-align: center;
}
input:hover {
    border-color: #c48e00;
}

button:hover {
    background-color: #c48e00;
    border-color: #c48e00;
}
.perfil {
    display: flex;
    margin: 20px 0;
}
.profile {
    border-radius: 50%;
    width: 7vw;
    border: 3px solid #666666;
    margin-right: 20px;
}
.perfil h3 {
    color: #c48e00;
    font-size: 24px;
    margin: 0;
}
.perfil span {
    display: inline-block;
    font-size: 16px;
    margin: 0;
    color: #dddddde0;
    margin: 10px 0 0 0;
}
.perfil p {
    color: #dddddde0;
    font-size: 16px;
    margin: 10px 0 0 0;
}

/* Estilos exclusivos para telas de 320px */
@media screen and (min-width: 320px) and (max-width: 320px) {
    .conteudo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 2rem auto;
    }

    .background {
        max-width: 50vw;
        margin: auto;
        padding-bottom: 1rem;
    }

    .background::before {
        max-width: 50vw;
        position: relative;
    }

    .background::after {
        max-width: 50vw;
        position: relative;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    .info {
        display: flex;
        flex-direction: column;
        margin: auto;
        text-align: center;
    }

    .info hr {
        width: 100%;
    }

    
    input {
        min-width: 200px;
        margin-right: 50px;
        text-align: center;
        align-self: center;
        justify-content: center;
        align-items: center;
    }
    button {
        min-width: 220px;
        margin: 10px;
        text-align: center;
        align-self: center;
        justify-content: center;
        align-items: center;
    }

    .perfil {
        flex-direction: column;
        align-items: center;
        margin: 10px;
    }

    .profile {
        margin: 10px 0;
        width: 200px;
    }
}


/* Estilos para telas menores (320px a 425px) */
@media screen and (min-width: 375px) and (max-width: 425px) {
    .conteudo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 2rem auto;
    }

    .background {
        max-width: 50vw;
        margin: auto;
        padding-bottom: 1rem;
    }

    .background::before {
        max-width: 50vw;
        position: relative;
    }

    .background::after {
        max-width: 50vw;
        position: relative;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    .info {
        display: flex;
        flex-direction: column;
        margin: auto;
        text-align: center;
    }

    .info hr {
        width: 100%;
    }

    /* Para o input */
    input {
        min-width: 200px;
        margin: auto;
        text-align: center;
        align-self: center;
        justify-content: center;
        align-items: center;
    }

    /* Para o botão */
    button {
        min-width: 220px;
        margin: 10px;
        text-align: center;
        align-self: center;
        justify-content: center;
        align-items: center;
    }

    .perfil {
        flex-direction: column;
        align-items: center;
        margin: 10px;
    }

    .profile {
        margin: 10px 0;
        width: 200px;
    }
}

/* Estilos para telas maiores (768px) */
@media screen and (min-width: 768px) {
    .conteudo {
        align-items: flex-start;
        justify-content: flex-end;
        min-height: 80vh;
    }

    .background::before {
        min-width: 40vw;
        position: relative;
    }

    .background::after {
        min-width: 40vw;
        position: relative;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    .info {
        width: 65vw;
        margin: 20px auto; /* Centraliza horizontalmente */
    }

    .info hr {
        width: 100%;
    }

    input,
    button {
        max-width: 200px;
        width: 20vw;
        margin: 10px;
        justify-content: center;
        align-self: center;
        align-items: center;
    }

    .perfil {
        margin: 10px 0;
        width: 50vw;
    }

    .profile {
        width: 20vw;
        margin-right: 10px;
    }
}
