.conteudo {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.background {
    margin: 2%;
    left: 0;
    width: 30%;
    position: fixed;
}
.background::before {
    height: 100vh;
    padding: 1rem;

    background-color: #1d2128;
}
.info {
    width: 65vw;
    margin: 20px 10px;
}
.info hr {
    width: 65vw;
}
button,
input {
    color: #ffffff;
    border: 1px solid #999999;
    border-radius: 22px;
    min-width: 250px;
    margin-right: 12px;
    width: 25vw;
    background: transparent;
    padding: 10px;
    font-size: 18px;
    text-align: center;
}
input:hover {
    border-color: #c48e00;
}

button:hover {
    background-color: #c48e00;
    border-color: #c48e00;
}
.perfil {
    display: flex;
    margin: 20px 0;
}
.profile {
    border-radius: 50%;
    width: 7vw;
    border: 3px solid #666666;
    margin-right: 20px;
}
.perfil h3 {
    color: #c48e00;
    font-size: 24px;
    margin: 0;
}
.perfil span {
    display: inline-block;
    font-size: 16px;
    margin: 0;
    color: #dddddde0;
    margin: 10px 0 0 0;
}
.perfil p {
    color: #dddddde0;
    font-size: 16px;
    margin: 10px 0 0 0;
}

/* Estilos para telas menores (320px a 425px) */
@media screen and (min-width: 320px) and (max-width: 425px) {
    .conteudo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .background {
        position: relative;
        margin: 10px 0;
        width: 200px;
    }

    .background::before {
        height: auto;
        padding: 1rem;
    }

    .info {
        width: 90%;
        margin: 20px 0;
        text-align: center;
    }

    .info hr {
        width: 100%;
    }

    input,
    button {
        max-width: 292px;
        margin: 10px 0 0 0;
        text-align: center;
    }

    .perfil {
        flex-direction: column;
        align-items: center;
        margin: 10px;
    }

    .profile {
        margin: 10px 0;
        width: 200px;
    }
}
/* Estilos para telas maiores (768px) */
@media screen and (max-width: 768px) {
    .conteudo {
        align-items: flex-start;
        justify-content: flex-end;
    }

    .background {
        min-width: 40vw;
        min-height: 70vh;
        position: fixed;
    }

    .background::after {
        min-width: 20vw;
        position: relative;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    .info {
        width: 50vw;
    }

    .info hr {
        width: 50vw;
    }

    input,
    button {
        max-width: 200px;
        width: 20vw;
        margin: 10px;
        justify-content: center;
        align-self: center;
        align-items: center;
    }

    .perfil {
        margin: 10px 0;
        width: 50vw;
    }

    .profile {
        width: 20vw;
        margin-right: 10px;
    }
}
