footer {
    background-color: #000;
    align-items: center;
    justify-content: center;
    margin: 0;
}
footer h3 {
    color: #C48E00;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}